<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>TextExpert!</title>
    <link rel="stylesheet" th:href="@{/style.css}">
    <link rel="icon" type="image/x-icon" href="/favicon.ico">
<body>
<form method="POST" enctype="multipart/form-data" th:action="@{/process}">
    <h1>TextExpert</h1>

    <label for="file">Upload a file:</label>
    <input type="file" name="file" id="file" required>

    <div class="checkbox-label">
        <input type="checkbox" name="romanNumeralDetection" value="false" id="romanNumeralDetection">
        <label for="romanNumeralDetection">Enable Roman numeral detection between II & XLIX</label>
    </div>

    <label for="hardStops">Enter your hardstops (or leave blank for defaults <code>{=!?:.}</code>):</label>
    <input type="text" id="hardStops" name="hardStops">

    <label for="outputPrecision">Enter precision of output (1–6 decimal places):</label>
    <input type="number" id="outputPrecision" name="outputPrecision" min="1" max="6">

    <div class="checkbox-label">
        <input type="checkbox" name="fullResults" value="false" id="fullResults">
        <label for="fullResults">Enable full results</label>
    </div>

    <button type="submit">GO!</button>
</form>
</body>
</html>
